body{
    margin: 0px;
}
.game{
    display: flex;
}
#moving{
    position: absolute;
    width: 200px;
    height: 200px;
    top: 0px;
    left: 0px;
    background-color: pink;
}
.box{
    display: grid;
    grid-template-columns: 350px 350px;
}
.box1, .box2, .box3, .box4{
    width: 350px;
    height: 350px;
}
.box1{
    background-color: #ffff5c;
}
.box2{
    background-color: lightsalmon;
}
.box3{
    background-color: lightgreen;
}
.box4{
    background-color: skyblue;
}

.gamebutton{
    margin: 230px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 50px 50px;
    gap: 10px;
}
#btn1, #btn2, #btn3, #btn4{
    width: 150px;
    height: 50px;
    border: 2px solid fuchsia;
    border-top-color: burlywood;
    border-left-color: burlywood;
}
#btn1{
    grid-column: 2 / 3;
}
#btn2{
    grid-row: 2 / 3;
}
#btn3{
    grid-row: 2 / 3;
}
#btn4{
    grid-row: 2 / 3;
}
#btn1 p, #btn2 p, #btn3 p, #btn4 p{
    width: 0px;
    height: 0px;
}
#btn1 p{
    border-bottom: 30px solid cornflowerblue;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    margin: 10px 50px;
}
#btn2 p{
    border-bottom: 20px solid transparent;
    border-top: 20px solid transparent;
    border-right: 30px solid cornflowerblue;
    margin: 5px 50px;
}
#btn3 p{
    border-top: 30px solid cornflowerblue;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    margin: 10px 50px;
}
#btn4 p{
    border-bottom: 20px solid transparent;
    border-left: 30px solid cornflowerblue;
    border-top: 20px solid transparent;
    margin: 5px 50px;
}

