.game{
    display: flex;
}
.float{
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: pink;
}
.box{
    display: grid;
    grid-template-columns: 350px 350px;
}
.box1, .box2, .box3, .box4{
    width: 350px;
    height: 350px;
}
.box1{
    background-color: #ffff5c;
}
.box2{
    background-color: lightsalmon;
}
.box3{
    background-color: lightgreen;
}
.box4{
    background-color: skyblue;
}

.gamebutton{
    margin: 230px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 50px 50px;
    gap: 10px;
}
.button1, .button2, .button3, .button4{
    width: 150px;
    height: 50px;
    border: 2px solid fuchsia;
    border-top-color: burlywood;
    border-left-color: burlywood;
    text-align: center;
}
.button1{
    grid-column: 2 / 3;
}
.button2{
    grid-row: 2 / 3;
}
.button3{
    grid-row: 2 / 3;
}
.button4{
    grid-row: 2 / 3;
}
.button1 p, .button2 p, .button3 p, .button4 p{
    width: 0px;
    height: 0px;
}
.button1 p{
    border-bottom: 30px solid cornflowerblue;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    margin: 10px 55px;
}
.button2 p{
    border-bottom: 20px solid transparent;
    border-top: 20px solid transparent;
    border-right: 30px solid cornflowerblue;
    margin: 5px 55px;
}
.button3 p{
    border-top: 30px solid cornflowerblue;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    margin: 10px 55px;
}
.button4 p{
    border-bottom: 20px solid transparent;
    border-left: 30px solid cornflowerblue;
    border-top: 20px solid transparent;
    margin: 5px 55px;
}
